<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="1049" border="1" align="center">
    <tr>
      <td width="52"><div align="center">ID</div></td>
      <td width="135"><div align="center">NAME</div></td>
      <td width="180"><div align="center">ROLE</div></td>
      <td width="99"><div align="center">ADDRESS</div></td>
      <td width="201"><div align="center">PHONE NUMBER</div></td>
      <td width="117"><div align="center">EMAIL</div></td>
      <td colspan="2"><div align="center">ACTION</div>        <div align="center"></div></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td width="79"><label>
        <div align="center">
          <input name="BLOCK" type="submit" id="BLOCK" value="BLOCK" />
          </div>
      </label></td>
      <td width="134"><label>
        <div align="center">
          <input name="UNBLOCK" type="submit" id="UNBLOCK" value="UNBLOCK" />
        </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
