<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

{% extends 'staff_home.html' %}
{% block body %}
<style>
.mytable {
  border-collapse: collapse;
  border: 1px solid #ccc;
}
.mytable td{
  border: 1px solid #ccc;
  padding:10px;
}
.mytable th{
  border: 1px solid #ccc;
  padding:10px;
}
</style>
<section class="contact">
  <h1 class="heading"> <span>MANAGE</span> TIPS </h1>
<form id="form1" name="form1" method="post" action="ad_t">
  <table class="mytable" align="center">
    <tr>
      <th height="63" colspan="4"><div align="center"></div></th>
      <th width="200"><div align="center">
          <input name="ADD" type="submit" class="btn btn-outline-default" id="ADD" value="ADD " />
      </div></th>
    </tr>
    <tr>
      <td width="183"><div align="center">No. </div></td>
      <td width="183"><div align="center">TIP</div></td>
      <td width="183"><div align="center">DATE</div></td>
      <td colspan="2"><div align="center">MANAGE</div></td>
    </tr>
     {% for i in val %}
    <tr>
      <td height="56">&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.tip}}</td>
      <td>&nbsp;{{ i.date}}</td>
      <td width="183"><div align="center">
          <a class="btn btn-outline-primary" href="{% url 'update_tp' id=i.id %}">UPDATE</a>
      </div></td>
      <td><div align="center">
          <a class="btn btn-outline-danger" href="{% url 'delete_tip' id=i.id %}">REMOVE</a>
      </div></td>
    </tr>
    {% endfor %}
  </table>
</form>
</section>

{% endblock %}

<!--</html>-->
