<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->

{% extends 'staff_home.html' %}
{% block body %}
<style>
.mytable {
  border-collapse: collapse;
  border: 1px solid #ccc;
}
.mytable td{
  border: 1px solid #ccc;
  padding:10px;
}
.mytable th{
  border: 1px solid #ccc;
  padding:10px;
}
</style>
  <h1 class="heading"> <span>send</span> feedback </h1>
<section class="contact">
<form id="form1" name="form1" method="post" action="{% url 's_fd' %}">
  <table class="mytable">
    <tr>
      <td width="57" height="44"><div align="center">feedback</div></td>
      <td width="900"><div align="center">
        <input type="text" name="textfield"  class="box"/>
      </div></td>
    </tr>
    <tr>
      <td height="53" colspan="2"><div align="center">
        <input name="UPLOAD" class="btn btn-outline-default" type="submit" id="UPLOAD" value="UPLOAD"  />
      </div></td>
    </tr>
  </table>
</form>

</section>
{% endblock %}
<!--</body>-->
<!--</html>-->
