<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
{% extends 'admin_home.html' %}
{% block body %}
<style>
.mytable {
  border-collapse: collapse;
  border: 1px solid #ccc;
}
.mytable td{
  border: 1px solid #ccc;
  padding:10px;
}
.mytable th{
  border: 1px solid #ccc;
  padding:10px;
}
</style>
<section class="contact">
  <h1 class="heading"> <span>Staff</span> Registration Form  </h1>
<form id="form1" name="form1" method="post" action="reg_stf" enctype="multipart/form-data">
  <table class="mytable">
    <tr>
      <td width="181"><div align="center">NAME</div></td>
      <td width="380"><div align="center">
        <input type="text" name="textfield" class="box"   required pattern="[A-Z a-z.]{3,25}" title="name should be in the range of 3 - 25 characters "/>
      </div></td>
    </tr>
    <tr>
      <td><div align="center">GENDER</div></td>
      <td>
        <div align="center" class="box">
          <input name="radiobutton" type="radio" value="MALE" required />
          MALE &nbsp;&nbsp;
          <input name="radiobutton" type="radio" value="FEMALE" />
          FEMALE</div>
      </td>
    </tr>
    <tr>
      <td><div align="center">ADDRESS</div></td>
      <td><div align="center">
        <input type="text" name="textfield2" class="box" required pattern="[A-Z a-z.]{5,25}" title="address should be in the range of 5 - 25 characters "/>
      </div></td>
    </tr>
     <tr>
      <td><div align="center">IMAGE</div></td>
      <td><div align="center">
        <input type="file" name="file" required/>
      </div></td>
    </tr>
     <tr>
      <td><div align="center">HIGHEST QUALIFICATION</div></td>
      <td><div align="center">
        <input type="text" name="textfield10" class="box" REQUIRED pattern="[A-Z a-z.]{2,30}" title=" should be in the range of 2 - 30 characters "/>
      </div></td>
    </tr>
    <tr>
      <td><div align="center">POST</div></td>
      <td><div align="center">
        <input type="text" name="textfield3" class="box" required  pattern="[A-Z a-z.]{3,25}" title="should be in the range of 3 - 25 characters "/>
      </div></td>
    </tr>
    <tr>
      <td><div align="center">PIN</div></td>
      <td><div align="center">
        <input type="number" name="textfield4" class="box" required pattern="[0-9]{6}" title=" 6 digit number "/>
      </div></td>
    </tr>
    <tr>
      <td><div align="center">PHONE NUMBER </div></td>
      <td><div align="center">
        <input type="text" name="textfield5"  class="box" required pattern="[6789][0-9]{9}" title="number should contain 10 digit and should start with 6,7,8,9"/>
      </div></td>
    </tr>
    <tr>
      <td><div align="center">EMAIL</div></td>
      <td><div align="center">
        <input type="text" name="textfield6" class="box" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}" title="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"/>
      </div></td>
    </tr>
     <tr>
      <td><div align="center">PASSWORD</div></td>
      <td><div align="center">
        <input type="text" name="textfield7" class="box" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}"
               title="Must contain at least one number and one uppercase and lowercase letter, and at least 5 or more characters" required/>
      </div></td>
    </tr>
    <tr>
      <td height="82" colspan="2">
        <div align="center">
          <input name="REGISTER" class="btn btn-outline-default" type="submit" id="REGISTER" value="REGISTER" />
          </div>
      </td>
    </tr>
  </table>
</form>
</section>
{% endblock %}
<!--</body>-->
<!--</html>-->
