<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->

{% extends 'parent_home.html' %}
{% block body %}
<style>
.mytable {
  border-collapse: collapse;
  border: 1px solid #ccc;
}
.mytable td{
  border: 1px solid #ccc;
  padding:10px;
}
.mytable th{
  border: 1px solid #ccc;
  padding:10px;
}
</style>
<br><center>
  <h1 class="heading"> <span>Text</span> Translation </h1>
<section class="contact">
<form id="form1" name="form1" method="post" action="translate_text">
  <table class="mytable">
    <tr>
      <td width="57" height="44"><div align="center">Text</div></td>
      <td width="900"><div align="center">
        <input type="text" name="textfield"  class="box" required/>
      </div></td>
    </tr>
    <tr>
      <td height="53" colspan="2"><div align="center">
        <input name="translate" class="btn btn-outline-default" type="submit" id="translate" value="translate"  />
      </div></td>
    </tr>
  </table>
</form>
  <br>
  <br>
  <table>
    <tr>
      <td>
<video width="320" height="240" controls>
  <source src="../static/video/{{ val }}" type="video/mp4">

  Your browser does not support the video tag.
</video>

      </td>
    </tr>

  </table>

</section>
  </center>
{% endblock %}
<!--</body>-->
<!--</html>-->
