<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->

{% extends 'staff_home.html' %}
{% block body %}

<style>
    .mytable {
      border-collapse: collapse;
      border: 1px solid #ccc;
    }
    .mytable td{
      border: 1px solid #ccc;
      padding:10px;
    }
    .mytable th{
      border: 1px solid #ccc;
      padding:10px;
    }
    </style>
    <h1 class="heading"> <span>UPDATE</span> CLASS WORK </h1>
<section class="contact">


<form id="form1" name="form1" method="post" action="{% url 'updt_cw' %}" enctype="multipart/form-data">
  <table class="mytable">

    <tr>
      <td>DESCRIPTION </td>
      <td><input type="text" name="textfield" class="box" value="{{val.description}}"required/></td>
    </tr>
    <tr>
      <td>CLASS</td>
      <td>
        <select  name="textfield2" class="box"   required>
            <option value="{{val.classes}}">{{val.classes}}</option>
          <option value="1">1st std</option>
          <option value="2">2nd std</option>
          <option value="3">3rd std</option>
          <option value="4">4th std</option>
          <option value="5">5th std</option>
          <option value="6">6th std</option>
          <option value="7">7th std</option>
          <option value="8">8th std</option>
          <option value="9">9th std</option>
          <option value="10">10th std</option>
          <option value="11">11th std</option>
          <option value="12">12th std</option>
      </select>&nbsp;&nbsp;

    </tr>
    <tr>
      <td>SUBJECT</td>
      <td>
      <select  name="textfield3" class="box" required>
          <option value="{{val.subject}}">{{val.subject}}</option>
          <option value="ENGLISH">ENGLISH</option>
          <option value="MALAYALAM">MALAYALAM</option>
          <option value="HINDI">HINDI</option>
          <option value="ARABIC">ARABIC</option>
           <option value="MATHS">MATHS</option>
          <option value="SOCIAL SCIENCE">SOCIAL SCIENCE</option>
          <option value="SCIENCE">SCIENCE</option>
          <option value="IT">IT</option>
          <option value="EVS">EVS</option>
      </select>&nbsp;&nbsp;</td>
    </tr>
    <tr>
      <td height="56" colspan="2"><div align="center">
        <input name="UPLOAD"  class="btn btn-outline-default" type="submit" id="UPLOAD" value="UPDATE" />
      </div></td>
    </tr>
  </table>
</form>

  </section>
{% endblock %}
<!--</body>-->
<!--</html>-->
